@import "tailwindcss";
@source "../src/main/resources/templates";

.hidden { display: none !important; }
.absolute { position: absolute; }
.top-4 { top: 1rem !important; }
.right-4 { right: 1rem !important; }